

@model List<ContosoUniversity.Models.Document>
@{
    ViewBag.Title = "_Documents";
}

<table class="table table-striped" id="documentsTable">
    <thead>
        <tr>
            <th colspan="7" scope="colgroup" style="background-color:lightgray; text-align:center; width:100%">Documents</th>
        </tr>
        <tr style="background-color:whitesmoke">
            <th>Document Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Comment</th>
            <th>Upload Date</th>
            <th>Upload User</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            { Html.RenderPartial("~/Views/Shared/Document/_Row.cshtml", item); }
        }

    </tbody>
</table>

