@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Anusha Penumalli</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to University Application</h2>
        <p>
            University Application is a sample application that
            demonstrates ASP.NET MVC web application concepts.
        </p>
    </div>    
</div>